.header {
  height: 650px;
  background: url(../../assets//images/header-bg.png) no-repeat center/cover;
  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    max-width: 573px;
    color: #ffffff;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    @media (max-width: 450px) {
      font-size: 30px;
      line-height: 38px;
    }
  }
}
